body{
    font-family: "Rajdhani" ,"Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    display: block;
    overflow-x: hidden;
}

.header{
    padding-left: 2.5%;
}

.header2{
    padding-left: 2.5%;
    display: -webkit-inline-box;
}

.history_table_div{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-bottom: 5%;
}


#orderButton{
    margin-inline: 10px;
    /* width: 100px; */
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
}

#orderButton:hover{
    background-color: rgb(45, 184, 197);
}

#orderTable{
    width: 100%;
    border-collapse: collapse;
}

tr{
    border-bottom: 0.5pt solid rgb(28,47,64); ;
}

#TH{
    text-align: center;
    padding: 5px;
    color: white;
    background-color: rgb(28,47,64);
    font-weight: normal;
}

td,button{
    text-align: center;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

#prod_reference{
    cursor: pointer;
}

#prod_reference:hover {
    color: rgb(45, 184, 197);
}

#review_btn{
    text-align: center;
    width: 130px;
    height: 30px;
    margin: 0 auto;
    display: block;
}

/*popup feedback */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #2DB8C5;
    color: white ;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    /* opacity: 0.8; */
    bottom: 10px;
    right: 10px;
    width: 180px;
    font-family: 'Roboto', sans-serif;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    font-family: 'roboto-bold', sans-serif;
    text-align: center;
    padding-top: -10px;
    width:400px;
    height:450px;
}

/* Add styles to the form container */
.form-container {
    max-width: 800px;
    padding: 10px;
    background-color: white;
    height:600px;
    text-align: center;
    background: linear-gradient(to top, #FBFBFB 82%, #9EE1E7 28%);
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 0.7;
}

b{font-weight:bold;}

textarea{
    resize:none;
}
.floated {
    float:center;
    margin-right:5px;
}

#close_form{
    all: unset;
    background-color: lightgrey;
    width:110px;
    height:35px;
    border-radius: 4px;
    cursor:pointer;
    margin-right:25px;
    margin-top:30px;
}

#submit_feedback{
    all: unset;
    background-color:#9EE1E7;
    width:110px;
    height:35px;
    border-radius: 4px;
    cursor:pointer;
}

.floated:hover{
    opacity:0.8;
}

.star_rating{
    font-family: "Rajdhani" ,"Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    width: 400px;
    margin: 0 auto;
    display: inline-block;
}
/* Star Ratings */
.star-rating__stars {
    position: relative;
    height: 2rem;
    width: 10rem;
    left:100px;
    background: url("../images/off.svg");
    background-size: 2rem 2rem;
    margin-top:15px;
    margin-bottom:15px;

  }
  
  /*Star images label*/
  .star-rating__label {
    position: absolute;
    height: 100%;
    left:0px;
    background-size: 2rem 2rem;
  }
  
  .star-rating__input {
    margin: 0;
    position: absolute;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .star-rating__stars .star-rating__label:nth-of-type(1) {
    z-index: 5;
    width: 20%;
  }
  
  .star-rating__stars .star-rating__label:nth-of-type(2) {
    z-index: 4;
    width: 40%;
  }
  
  .star-rating__stars .star-rating__label:nth-of-type(3) {
    z-index: 3;
    width: 60%;
  }
  
  .star-rating__stars .star-rating__label:nth-of-type(4) {
    z-index: 2;
    width: 80%;
  }
  
  .star-rating__stars .star-rating__label:nth-of-type(5) {
    z-index: 1;
    width: 100%;
  }
  
  .star-rating__input:checked + .star-rating__label,
  .star-rating__input:focus + .star-rating__label,
  .star-rating__label:hover {
    background-image: url("../images/on.svg");
    cursor:pointer;
    
  }
  
  .star-rating__label:hover ~ .star-rating__label {
    background-image: url("../images/off.svg");
  }
  
  .star-rating__input:focus ~ .star-rating__focus {
    position: absolute;
    top: -.25em;
    right: -.25em;
    bottom: -.25em;
    left: -.25em;
  }
  fieldset {
    border: 0;
}

textarea#review_text{
    font-family: 'roboto-bold', sans-serif;
    border: 1px solid #E8E8E8;
}

#star_image{
    max-width: 30px;
    max-height: 30px;
}

#div_element{
    max-height: 100%;
}