.container {
    width: 1440px;
    margin: auto;
}

.Right_Input{
    flex: 50%;
    float: right;
    margin-left: 50px;
    font-family: "Rajdhani" ,"Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.Left_Product{
    flex: 50%;
    float: left;
    font-family: "Rajdhani" ,"Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    margin-left: 100px;
}

#Left_Heading{
    color: #1C2F40;
    font-size: 30px;
    /*font-family: "Rajdhani" ,"Roboto", "Lucida Grande", Verdana, Arial, sans-serif;*/
}

.cart {
    direction: rtl;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 440px;
}

.cart::-webkit-scrollbar {
    width: 13px;
}

.cart::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 22px;
}

.cart::-webkit-scrollbar-thumb {
  background: rgba(45, 184, 197, 0.38);
  border-radius: 10px;
}

.cart::-webkit-scrollbar-thumb:hover {
  background: rgba(45, 184, 197, 0.62);
}

.Cart_Item{
    direction: ltr;
    width: 95%;
    display: inline-block;
    margin: 10px;
}

.product{
    /*max-width: 30%;*/
    /*max-height: 30%;*/
    width: 227px;
    height: 170px;
    object-fit: cover;
    float: left;
}

.description{
    float: left;
    margin-left: 50px;
    color: #1C2F40;
    font-size: 12px;
}

.remove{
    font-size: 10px;
    color: red;
    float: right;
    text-decoration: none;
    margin-right: 20px;
}

.line{
    width: 90%;
}

.subtotal{
    display:inline-block;
    float: right;
    margin-right: 7%;
    vertical-align: center;
    text-align: center;
}

.total{
    color: #1C2F40;
    float: left;
    font-size: 25px;
}

.money{
    margin-left: 200px;
    color: #1C2F40;
    float: left;
    font-size: 25px;
}

/*.title{*/
/*    !*margin-left: 30px;*!*/
/*    color: #1C2F40;*/
/*    font-size: 15px;*/
/*    float: right;*/
/*    !*display:inline-block;*!*/
/*}*/

/*.price{*/
/*    margin-left: 30px;*/
/*    color: #1C2F40;*/
/*    font-size: 15px;*/
/*    !*display:inline-block;*!*/
/*    float: right;*/
/*}*/

#Right_Heading {
    font-size: 25px;
    color: #1C2F40;
    /*text-align: right;*/
    /*margin-left: 750px;*/
    font-family: "Rajdhani" ,"Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

p#Right_Heading_Sub{
    font-size: 18px;
    color: #1C2F40;
    /*margin-left: 750px;*/
    font-family: "Rajdhani" ,"Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    text-decoration: underline;
}

#form{
    /*margin-left: 750px;*/
    color: #1C2F40;
    font-family: "Rajdhani" ,"Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

/*#textField{*/
/*    line-height: 20px;*/
/*}*/

/*.credit{*/
/*    max-width: 50%;*/
/*    max-height: 100%;*/
/*}*/

/*.paypal{*/
/*    max-width: 25%;*/
/*    max-height: 50%;*/
/*}*/


#PayButton{
    background-color: #181818;
    font-family: "Rajdhani" ,"Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
    padding: 5px 32px;
    border-radius: 8px;
}

.form_detail{
    /*display:inline-block;*/
}

.last_name{
    margin-left: 170px;
}

.last_name_field{
    margin-left: 70px;
    line-height: 20px;
}

.zip_code{
    margin-left: 106px;
}

.state{
    margin-left: 110px;
}

.zip_code_field{
    margin-left: 40px;
     line-height: 20px;
}

.state_field{
    margin-left: 37px;
    line-height: 20px;
}

.container{
    display: flex;
}

.textfield{
    line-height: 20px;
}