{% extends "../base.html" %}
{% load static %}

{% block content %}

    <title>Shop Profile</title>
    <link rel="stylesheet" href="{% static 'css/shoppage.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/shoppage.css' %}"> -->
    <body>
        
        <div class="contents">
            <div id="edit_menu" class="edit_menu">
                <form class="edit_content animate" method="POST" action="{% url 'editshopprofile' %}" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <span onclick="document.getElementById('edit_menu').style.display='none'"
                      class="close" title="Close Location Menu">&times;</span>
                    <header class="shop_page_profile">
                        <h4>Edit Shop Profile</h4>
                    </header>
                    <label>Shop Name</label>
                    <input name="sname" type="text" placeholder="{{ shop.Business_Name }}">
                    <br><br>
                    <label>Shop Email</label>
                    <input name="semail" type="email" placeholder="{{ shop.Business_Email }}">
                    <br><br>
                    <label for="sphone">Shop Phone Number</label>
                    <input name="sphone" type="text" placeholder="{{ shop.Business_Number }}"
                           pattern="^\({0,1}((0|\+61)(2|4|3|7|8)){0,1}\){0,1}( |-){0,1}[0-9]{2}( |-){0,1}[0-9]{2}( |-){0,1}[0-9]{1}( |-){0,1}[0-9]{3}$"
                            title="Please enter a valid Australian phone number.">
                    <br><br>
                    <label>Shop Location</label>
                    <input name="slocation" type="text" placeholder="{{ shop.Location }}">
                    <br><br>
                    <label>Shop Website</label>
                    <input name="swebsite" type="url" placeholder="{{ shop.Business_URL }}">
                    <br><br>
                    <label>Shop ABN</label>
                    <input name="sABN" type="number" placeholder="{{ shop.ABN }}" id="abn" onchange="setupShop({{ abns|safe }})">
                    <br><br>
                    <label>Shop Intro</label>
                    <input name="sintro" type="text" placeholder="{{ shop.Description }}">
                    <br><br>
                    <label>Shop Logo</label>
                    <input name="slogo" type="file" accept="image/*">
                    <br><br>
                    
                    <label>Shop Banner Iamge</label>
                    <input name="sbanner" type="file" accept="image/*">
                    <br><br>
                    <div id="err"></div>
                    <div onclick="setupShop({{ abns|safe }})" class="checkDiv">Check</div>
                    <!-- <button onclick="setupShop({{ abns|safe }})">Check</button> -->
                    <button class="submit_btn" type="submit" onclick="" >Save</button>
                </form>
                <script>
                    var model = document.getElementById('edit_menu');
                    window.onclick = function(event) {
                        if (event.target === model) {
                            model.style.display = "none";
                        }
                    }
                </script>
            </div>
            <div class="top">
                <div class="selectors">
                    <select name="Color" class="selectColor" onchange="changeThemeColor(this)">
                        <option value="bright">Bright</option>
                        <option value="dark">Dark</option>
                        <option value="green-blue">Green-blue</option>
                        <option value="pink">Pink</option>
                        <option value="green">Green</option>
                        <option value="purple">Purple</option>
                    </select>
                    
           
                </div>
                <div class="change_profile_sec">
                    <a href="javascript:" onclick="document.getElementById('edit_menu').style.display='block'">
                        <button class="edit_profile">Edit Shop profile</button>
                    </a>
                </div>
            </div>
            
            <div class="logo_banner">
                <div class="shop_pic">
                    <img id="shop-pic-img" src="{{shop.Banner_URL}}">
                </div>
            
                <div class="info-banner">
                    <div class="banner-shop-info__left">
                        <img class="shop_logo" src="{{shop.Logo_URL}}">
                        <input type="file" id="avater-input" accept="image/png, image/jpg" style="display:none">
                    </div>
        
                    <div class="banner-shop-info__middle">
                        <div class="banner_shop_info">
                            <div class="all_info">
                                <div class="shop-title">
                                    {{shop.Business_Name}}
                                    's Store
                                </div>
                                <div class="inline_info">
                                    <span class="info_name">Phone </span>
                                    <span id="phone-display">{{shop.Business_Number}}</span>
                                </div>
                                <div class="inline_info">
                                    <span class="info_name">Email </span>
                                    <span id="email-display">{{shop.Business_Email}}
                                    </span>
                                </div>
                                <div class="inline_info">
                                    <span class="info_name">Location </span>
                                    <span id="location-display">{{shop.Location}}</span>
                                </div>
                                <div class="inline_info">
                                    <span class="info_name">Website </span>
                                    <a id="website-display" href="{{shop.Business_URL}}"><span id="website-display">{{shop.Business_URL}}</span></a>
                                    
                                </div>
                                <!-- <div class="inline_info">
                                    <span class="info_name">Successful Deals </span>
                                    <span id="deals-display">51</span>
                                </div> -->
                                <div class="inline_info">
                                    <span class="info_name">ABN </span>
                                    <span id="deals-display">{{shop.ABN}}</span>
    
                                </div>
                                
                            </div>
            
            
                            <!-- <div class="forms" style="display:none">
                                <form method="post">
                                    <div>
                                        <label for="name">Shop name</label><br>
                                        <input class="form-input" type="text" id="name" name="name"  value="Rafa's Store"><br>
                                        
                                        
                                        <label for="phone">Phone</label><br>
                                        <input class="form-input" type="text" id="phone" name="phone"  value="0400010102"><br>
                                        
                                        <label for="email">Email</label><br>
                                        <input class="form-input" type="text" id="email" name="email"  value="12345@gmail.com"><br>
                                        
                                        <label for="location">Location</label><br>
                                        <input class="form-input" type="text" id="location" name="location"  value="550 George Street,Sydney"><br>
                                        
                                        <label for="website">Website</label><br>
                                        <input class="form-input" type="text" id="website" name="website"  value="https://www.sydney.edu.au/"><br>
                                        
                                        <label for="abn">ABN</label><br>
                                        <input class="form-input" type="text" id="abn" name="abn"  value="12345678"><br>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                    </div>
        
                    <div class="banner-shop-info__right">
                        <div class="banner_shop_info">
                            <div class="all_info__right">
                                <h4>Shop Intro</h4>
                                <h5 id="intro-display">{{shop.Description}}</h5>
                            </div>
            
            
                            <!-- <div class="forms__right" style="display:none">
                                <form method="post">
                                    <div>
                                        <label for="intro">Shop Intro</label><br>
                                        <input class="form-input" type="text" id="intro" name="intro"  value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."><br>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="error_menu" class="error_menu">
                <span onclick="document.getElementById('error_menu').style.display='none'"
                class="close" title="Close Error Menu">&times;</span>
                <div class="error_menu_content animate">
                    <header>
                        <h4>!YOUR ABN HAS BEEN REGISTERED!</h4>
                        <a href="{% url 'contact_us' %}">contact us</a>
                    </header>
                </div>
                <script>
                    // Get the modal
                    var modal = document.getElementById('error_menu');
                    // When the user clicks anywhere outside the modal, close it
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
             </div>
    
    
            <div class="shop-info">
                <div class="child-right">
                    <div class="product_top">
                        <h2>All Products</h2>
                    </div>
                    
                    <div class="add_product">
                        <a href="javascript:" onclick="document.getElementById('addproduct').style.display='block'">
                            <button class="add_prodcut">+ Add Product</button>
                        </a>
                    </div>
                    <div class="bike_list">
                        
                        <div class="each_bike">
                            {% for product in products %}
                                <div class="bike-card" onclick="">
                                    <div class="bike_pic_container">
                                        {% for media in medias %}
                                            {% if media.Product_ID.Product_ID == product.Product_ID %}
                                                <img class="fake_bike_pic" class="fake_bike_pic" src="{{ media.Storage_location }}" class="bicycles"><br>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="bike_intro_container">
                                        <div class="bike_name">{{product.Product_name}}</div>
                                        
                                        <div class="price">Sell Price: ${{product.Sell_Price}}</div>
                                        <div class="rent_price">Rent Price: ${{product.Rent_Price}}</div>
                                        <div class="sponsor_status">Sponsor Status: {{product.Sponsor_Status}}</div>
                                        <div class="stock">Available Stock: {{product.Stock}}</div>
                            
                                    </div>
                                    <div class="product__button">
                                        <div class="status_sec">
                                            {% if product.Is_Available %}
                                            <a href="javascript:" onclick="document.getElementById('deactivate').style.display='block'">
                                                <button class="status_button">Deactivate</button>
                                            </a>
                                            {% else %}
                                            <a href="javascript:" onclick="document.getElementById('activate').style.display='block'">
                                                <button class="status_button">Activate</button>
                                            </a>
                                            {% endif %}
                                        </div>
                                        <div class="button_container">
                                            <a href="javascript:" onclick="document.getElementById('{{ product.Product_ID }}').style.display='block'">
                                                <button class="delete_product"> <img class="delete-image" src="{% static 'images/edit_icon.png' %}"/></button>
                                            </a>
            
                                        </div>
                                    </div>
                                    

                                </div>
                                <div class="edit_menu_product" id="{{ product.Product_ID }}">
                                    <form class="edit_content animate" method="POST" action="{% url 'editshopproduct' product.Product_ID %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <span onclick="document.getElementById('{{ product.Product_ID }}').style.display='none'"
                                        class="close" title="Close Location Menu">&times;</span>
                                        <header class="product_detail">
                                            <h4>Edit Product Detail</h4>
                                        </header>
                                        
                                        <div class="each_product_editing">
                                            <label>Product Name</label>
                                            <input name="pname" type="text" placeholder="{{ product.Product_name }}">
                                            <br><br>
                                            <label>Sell Price</label>
                                            <input name="productsellprice" type="number" placeholder="{{ product.Sell_Price }}">
                                            <br><br>
                                            <label>Rent Price</label>
                                            <input name="productrentprice" type="number" placeholder="{{ product.Rent_Price }}">
                                            <br><br>
                                            <label>Available Stock</label>
                                            <input name="productstock" type="number" placeholder="{{ product.Stock }}">
                                            <br><br>
                                            <!-- <label>Sponsor Status</label>
                                            <input name="psponsorstatus" type="text" placeholder="{{ product.Sponsor_Status }}"> -->
                                            <label for="psponsorstatus">Sponsor Status*</label>
                                            <select name="psponsorstatus">
                                                <option value="False">False</option>
                                                <option value="True">True</option>
                                            </select>
                                            <br><br>
                                            {% for description in descriptions %} 
                                                {% if description.Product_ID.Product_ID == product.Product_ID %}
                                                    <label>Product Description</label>
                                                    <input name="description" type="text" placeholder="{{ description.Description }}">
                                                    <br><br>
                                                    <label>Product Type</label>
                                                    <input name="ptype" type="text" placeholder="{{ description.Type }}">
                                                    <br><br>
                                                    <label>Product Age_Range</label>
                                                    <input name="pagerange" type="text" placeholder="{{ description.Age_Range }}">
                                                    <br><br>
                                                    <label>Product Brand</label>
                                                    <input name="pbrand" type="text" placeholder="{{ description.Brand }}">
                                                    <br><br>
                                                    <label>Product Speeds</label>
                                                    <input name="pspeed" type="text" placeholder="{{ description.Speeds }}">
                                                    <br><br>
                                                    <label>Product Colour</label>
                                                    <input name="pcolor" type="text" placeholder="{{ description.Colour }}">
                                                    <br><br>
                        
                                                {% endif %}
                                            {% endfor %}
                                            <br>
                                            <div><bold>Current Product Images</bold></div>
                                            <div class="current_imgs">
                                                
                                                {% for media in medias %}
                                                    {% if media.Product_ID.Product_ID == product.Product_ID %}
                                                    <div class="each_img">
                                                        <img class="current_imgs_pic"src="{{ media.Storage_location }}" class="bicycles">

                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            
                                            
                                            <div><bold>Change/Add Another Five Images</bold></div>
                                            <label>Product Image 1</label>
                                            <input name="img1" type="file" accept="image/*" >
                                            <label>Product Image 2</label>
                                            <input name="img2" type="file" accept="image/*" >
                                            <label>Product Image 3</label>
                                            <input name="img3" type="file" accept="image/*" >
                                            <label>Product Image 4</label>
                                            <input name="img4" type="file" accept="image/*" >
                                            <label>Product Image 5</label>
                                            <input name="img5" type="file" accept="image/*" >
                                            
                                        </div>
                                            
                                        
                                        <button type="submit" onclick="">Save</button>
                                    </form>
                                    <script>
                                        var model = document.getElementById('{{ product.Product_ID }}');
                                        window.onclick = function(event) {
                                            if (event.target === model) {
                                                model.style.display = "none";
                                            }
                                        }
                                    </script>          
                                </div>
                                <div class="edit_menu_product" id="deactivate">
                                    <form class="edit_content animate" method="POST" action="{% url 'deactivate' product.Product_ID %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <span onclick="document.getElementById('deactivate').style.display='none'"
                                        class="close" title="Close Location Menu">&times;</span>
                                        <header class="product_detail">
                                            <h4>Are you sure to Deactivate the product Anyway?</h4>
                                        </header>
                                        
                                            
                                        <button type="submit" onclick="">Yes</button>
                                    </form>
                                    <script>
                                        var model = document.getElementById('deactivate');
                                        window.onclick = function(event) {
                                            if (event.target === model) {
                                                model.style.display = "none";
                                            }
                                        }
                                    </script>          
                                </div>
                                <div class="edit_menu_product" id="activate">
                                    <form class="edit_content animate" method="POST" action="{% url 'activate' product.Product_ID %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <span onclick="document.getElementById('activate').style.display='none'"
                                        class="close" title="Close Location Menu">&times;</span>
                                        <header class="product_detail">
                                            <h4>Are you sure to Activate the product?</h4>
                                        </header>
                                        
                                            
                                        <button type="submit" onclick="">Yes</button>
                                    </form>
                                    <script>
                                        var model = document.getElementById('activate');
                                        window.onclick = function(event) {
                                            if (event.target === model) {
                                                model.style.display = "none";
                                            }
                                        }
                                    </script>          
                                </div>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="edit_menu_product" id="addproduct">
                        <form class="edit_content animate" method="POST" action="{% url 'addproduct' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <span onclick="document.getElementById('addproduct').style.display='none'"
                            class="close" title="Close Location Menu">&times;</span>
                            <header class="product_detail">
                                <h4>Add Product</h4>
                            </header>
                            
                            <div class="each_product_editing">
                                <label>Product Name*</label>
                                <input name="pname" type="text" placeholder="" required>
                                <br><br>
                                <label>Sell Price*</label>
                                <input name="productsellprice" type="number" placeholder="" required>
                                <br><br>
                                <label>Rent Price*</label>
                                <input name="productrentprice" type="number" placeholder="" required>
                                <br><br>
                                <label>Available Stock*</label>
                                <input name="productstock" type="number" placeholder="" required>
                                <br><br>
                                <!-- <label>Sponsor Status*</label>
                                <input name="psponsorstatus" type="text" placeholder="Please type in False or True" > -->
                                <label for="psponsorstatus">Sponsor Status*</label>
                                <select name="psponsorstatus">
                                    <option value="False">False</option>
                                    <option value="True">True</option>
                                </select>
                                <br><br>
                                
                                <label>Description*</label>
                                <input name="description" type="text" placeholder="" required>
                                <br><br>
                                <label>Product Type</label>
                                <input name="ptype" type="text" placeholder="">
                                <br><br>
                                <label>Age Range</label>
                                <input name="pagerange" type="text" placeholder="">
                                <br><br>
                                <label>Product Brand</label>
                                <input name="pbrand" type="text" placeholder="">
                                <br><br>
                                <label>Product Speeds</label>
                                <input name="pspeed" type="text" placeholder="">
                                <br><br>
                                <label>Product Colour</label>
                                <input name="pcolor" type="text" placeholder="">
                                <br><br>
                                <label>Product Image (1)*</label>
                                <input name="img1" type="file" accept="image/*" required>
                                <br><br>
                                <label>Product Image (2)</label>
                                <input name="img2" type="file" accept="image/*">
                                <br><br>
                                <label>Product Image (3)</label>
                                <input name="img3" type="file" accept="image/*">
                                <br><br>
                                <label>Product Image (4)</label>
                                <input name="img4" type="file" accept="image/*">
                                <br><br>
                                <label>Product Image (5)</label>
                                <input name="img5" type="file" accept="image/*">
                                <br><br>
                                    
                            </div>
                            <button type="submit" onclick="">Save</button>
                        </form>
                        <script>
                            var model = document.getElementById('addproduct');
                            window.onclick = function(event) {
                                if (event.target === model) {
                                    model.style.display = "none";
                                }
                            }
                        </script>          
                    </div>
                    

                </div>
            </div>
    
            
            <div class="reviews">
                <h1>Reviews</h1>
                <p id="no-reviews"> This user does not have any reviews yet...</p>
                <!--If user has reviews, default remove text-->
                <script>
                    if({{size}} > 0){
                        document.getElementById("no-reviews").innerHTML = "";
                        document.getElementById("no-reviews").style.marginTop = 0;
                        document.getElementById("no-reviews").style.marginLeft = 0;
                    }
                </script>
                <div class=Feedback_boxes>
                    {% for review in reviews %}
                        <div class=Feedback1>
                            <div class="profile1">
                                <div class="stars-outer">
                                    <div class="stars-inner" id="value0">
                                    </div>
                                </div>
                            </div>
                            <img class="reviewer_imgs" id="reviewer_picture" onerror='this.style.display = "none"' src={{review.Reviewer.image_location}} />
                            <h2 class=Reviewer>{{ review.Reviewer}} </h2>
                            <p class=Review_Comment>{{ review.Comment}} </p>
                        </div>
                        <script>
                            var elements = document.getElementsByClassName("stars-inner");
                            if({{ forloop.counter0 }} == 0){
                                elements[0].style.width = (100 * {{review.Rating_value}}) / 5 + "%";
                            }
                            else if({{ forloop.counter0 }} == 1){
                                elements[1].style.width = (100 * {{review.Rating_value}}) / 5 + "%";
                            }
                            else if({{ forloop.counter0 }} == 2){
                                elements[2].style.width = (100 * {{review.Rating_value}}) / 5 + "%";
                            }
                        </script>
                        <script>
                            var profiles = document.getElementsByClassName("profile1");
                            var img = document.getElementsByClassName('reviewer_imgs');

                            if({{ forloop.counter0 }} == 0 && img[0].getAttribute('src') != "" && img[0].getAttribute('src') != "/"){
                                profiles[0].style.backgroundImage = "none";
                                profiles[0].style.position = "absolute";
                            }
                            else if({{ forloop.counter0 }} == 1 && img[1].getAttribute('src') != "" && img[1].getAttribute('src') != "/"){
                                profiles[1].style.backgroundImage = "none";
                                profiles[1].style.position = "absolute";
                            }
                            else if({{ forloop.counter0 }} == 2 && img[2].getAttribute('src') != "" && img[2].getAttribute('src') != "/"){
                                profiles[2].style.backgroundImage = "none";
                                profiles[2].style.position = "absolute";
                            }
                        </script>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    

        


        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script> -->
        <script src="{% static 'js/shoppage.js' %}"></script>

{% endblock %}